pandas==3.0.3
numpy==2.4.6
openpyxl
python-dotenv
db-dtypes
jupyter
notebook
ipykernel
seaborn
ipywidgets
scikit-learn==1.9.0
xgboost==3.2.0
pydantic
fastapi
joblib==1.5.3
scipy
streamlit
scikit-learn
joblib
uvicorn
lightgbm

